*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

.center {
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background: black;
    padding: 8px 0;
}

.logo {
    float: left;
    color: white;
}

.logo h2 {
    font-size: px;
    font-weight: normal;
}

form.form-login {
    float: right;
}

.form-login .form-element {
    display: inline-block;
    margin-right: 15px;
}

.form-element p {
    color: white;
    font-size: 14px;
}

.form-element input[type=email], 
.form-element input[type=password] {
    margin-top: 4px;
    border: 0px;
    height: 16px;
    padding-left: 3px;
}

.form-element input[type=submit] {
    cursor: pointer;
    border: 0;
    background: #5fb551;
    border: 2px solid #5fb551;
    color: white;
    padding: 3px 5px;
    border-radius: 8px;
}

.form-element imput[type=submit]:houver {
    background: #4287f5;
}

section.main {
    background: linear-gradient(black, black);
    padding: 183px;
}

.img-logo {
    float: left;
    width: 50%;
}

.img-logo img {
    max-width: 70%;
    width: 300px;
}

.abrir-conta {
    width: 30%;
    float: right;
}

.abrir-conta h2 {
    color: white;
    font-size: 26px;
}

.abrir-conta h3 {
    color: white;
    font-size: 19px;
    margin-top: 10px;
}

form.criar-conta {
    margin-top: 10px;
}

.w50 {
    width: 50%;
    padding: 0 5px;
    float: left;
}

.w100 {
    width: 100%;
    padding: 0 5px;
    float: left;
}

form.criar-conta input {
    width: 100%;
    margin-top: 8px;
}

form.criar-conta input[type=email],
form.criar-conta input[type=text],
form.criar-conta input[type=password] {
    height: 40px;
    padding-left: 10px;
    font-size: 20px ;
    border:1px solid #a5dcff;
    border-radius: 5px;
}

form.criar-conta input[type=submit] {
    height: 40px;
    background: linear-gradient(#5fb551, #5fb551 );
    color: white;
    cursor: pointer;
    border: 0;
    max-width: 200px;
    font-size: 19px;
    border-radius: 8px;
}

form .w100 h2 {
    margin-top: 10px;
    color:white;
    font-size: 22px;
    font-weight: normal;
}

form select.nascimento {
    float: left;
    margin-top: 5px;
}

.input-radio {
    float: left;
    margin: 8px 10px;
}

.input-radio h2 {
    display: inline-block;
    font-size: 20px;
}

.input-radio input[type=radio] {
    display: inline-block;
    width: auto !important;
}
