body {
   background-image: url("logo.png");
   background-repeat: no-repeat;
   background-position: center center;  
   background-size: auto;
   background-attachment: fixed;
   background-color: black;
}

